@import '/static/css/background.css';


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

main#container {
    width: min(500px, 100vw);
    height: 100vh;
    margin: 0 auto;
}
